
<%- include header %>
<img src="http://localhost:8082/imgs/spread.png" class="img-fluid" alt="100%x250">
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
    </div>
 <%- include footer %>